* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    padding: 20px 0;
    font-family: "Adelle Sans Devanagari";
    direction: rtl;
}

header {
    text-align: center;
    margin-bottom: 50px;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 0 15px;
}

.gallery-item {
    position: relative;
    flex: 100%;
    height: 400px;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}

.special-box {
    color: #fff;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    height: 400px;
    text-align: center;
    padding: 20px;
    animation-name: BoxAnimation;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

@keyframes BoxAnimation {
    0% {
        background-color: #ef60dc;
    }
    25% {
        background-color: #78b1f3;
    }
    50% {
        background-color: #f59b42;
    }
    100% {
        background-color: #7b9449;
    }
}

.special-box-medium-small-screen {
    display: flex;
}

.special-box-large-screen {
    display: none; /*در سایز گوشی موبایل دیده نشود*/
}

.info-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

.gallery-item:hover .info-box {
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 600px) {
    .gallery-item {
        flex: 1 1 40%;
    }
}

@media (min-width: 900px) {
    .gallery-item {
        flex: 1 1 20%;
    }

    .special-box-large-screen {
        display: flex;
        flex: 1 1 45%;
    }

    .special-box-medium-small-screen {
        display: none;
    }

}