* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f5f5f5;
    padding: 20px 0;
    direction: ltr;
    font-family: "Adelle Sans Devanagari";
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.title {
    font-size: 2rem;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 0 30px;
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    border: 8px solid;
    height: 250px;
    cursor: pointer;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.1);
    filter: brightness(0.8);
}


.info-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: grid;
    place-items: center;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s ease, 0.8s ease;
}

.gallery-item:hover .info-box {
    transform: translateY(0);
    opacity: 1;
}

.special-box {
    background: #f18537;
    color: #fff;
    font-size: 4rem;
    display: grid;
    place-items: center;
    border-radius: 12px;
    height: 250px;
    text-align: center;
}

@media (min-width: 600px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .special-box {
        grid-column: span 2;
    }
}

@media (min-width: 900px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}